<h3 class="c-batch--secondary">
	<span>届いたリクエスト</span>
</h3>

<div class="c-message">
	<div class="c-message__item">
		<div class="c-message__item__link">
			<% if @message.image.present? %>
	    <%= image_tag @message.image, alt: @message.text %>
	    <% end %>
			<a class="p-sns--twitter"
	    href="http://twitter.com/intent/tweet
	    ?url=<%= root_url(only_path: false) %>messages/<%= message.url_token %>
	    &text=<%= message.text %>
	    &hashtags=example%2Cdemo"
	    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" sl-processed="1">
	    tweet</a>

		</div>
	</div>
</div>


