<h3 class="c-batch--secondary">
	<span>届いたリクエスト</span>
</h3>

<div class="c-message">
	<div class="c-message__item">
		<div class="c-message__item__link">
			<%#= image_tag @message.image, alt: @message.test %>
			<%= @message.text %>
		</div>
	</div>
</div>


