.c-input {

  &__file {
    display: inline-block;
    position: relative;
    padding: 8px;
    @include fts(14,14);
    text-decoration: underline;

    input[type="file"] {
      opacity: 0;
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
      position: absolute;
      right: -21px;
      top: 46px;
      margin: -40px;
      cursor: pointer;
    }
  }
}