.c-item {
  margin: 24px 0 0;
  padding: 24px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(194,194,194,0.2);

  &__inner {
    margin: 24px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .c-button--primary {
      margin: 16px 0 0;
    }

    .c-button--default {
      margin: 16px 0 0;
    }
  }
  .c-title--middle {
    margin: 24px 0 8px;
    font-weight: bold;
  }
  .c-text {
    margin: 8px 0;
  }
}