<ul class="p-footer--small">
	<li>
		<%= link_to about_path, class:'' do %>
		<i class="fas fa-caret-right"></i> 使い方
		<% end %>
	</li>
	<li>
		<%= link_to terms_path, class:'' do %>
		<i class="fas fa-caret-right"></i> 利用規約
		<% end %>
	</li>
	<li>
		<%= link_to privacy_path, class:'' do %>
		<i class="fas fa-caret-right"></i> プライバシーポリシー
		<% end %>
	</li>
	<li>
		<a href="https://twitter.com/Nandeda_com" target="_blank">
		<i class="fas fa-caret-right"></i> 公式Twitter <i class="fas fa-external-link-alt"></i>
		</a>
	</li>
</ul>
