<h2 class="c-batch--secondary">
  <span>PATENとは</span>
</h2>
<div class="p-page">
  <h3 class="c-title--middle">なんでだッ!?とは</h3>
  <p class="c-text">匿名のなんでだッ!?と思うメッセージを受け付けるサービスです。</p>
  <p class="c-text">このサービスは誰かの生活が、ちょっとでも前向きになるように作ったサービスです。</p>
</div>

<h2 class="c-batch--secondary">
  <span>使い方</span>
</h2>
<div class="p-page">
  <h3 class="c-title--middle">１．ページを作成する</h3>
  <p class="c-text">メッセージを受け取れるページを作成する</p>
  <h3 class="c-title--middle">２．募集する</h3>
  <p class="c-text">あなたのページができたら、みんなにお知らせしましょう！</p>
  <h3 class="c-title--middle">３．回答する</h3>
  <p class="c-text">あなたに対するメッセージが届いていたら、回答してみましょう！</p>
  <p class="c-text">Twitterに投稿することもできます</p>
</div>
