<h1 class="c-label--primary">
  <span>PATENとは</span>
</h1>
<div class="c-item">
  <h3 class="c-title--middle">PATEN（パテン）とは</h3>
  <p class="c-text">このサービスはTwitterで発信したいけど、何を発信すればいいか分からない人などを対象に質問を投げかけているサイトです。</p>
</div>
<br>
<h2 class="c-label--primary">
  <span>使い方</span>
</h2>
<div class="c-item">
  <h3 class="c-title--middle">１．質問を探す</h3>
  <p class="c-text">サイト内から自分が答えたい質問を探しましょう</p>
  <h3 class="c-title--middle">２．考える</h3>
  <p class="c-text">質問に対して、あなたが思うことを考えます。</p>
  <h3 class="c-title--middle">３．回答する</h3>
  <p class="c-text">質問に対するメッセージをTwitterを使って回答しましょう！</p>
</div>
